<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
    <style>
        .error {background-color: red}
        .warning {background-color: yellow}

        .selected {background-color: blue}
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
    <div ng-controller="CartController">
        <h1>내 장바구니</h1>
        <ul>
            <li ng-repeat="item in items" ng-class="{selected : $index == selectedRow}" ng-click="clickRow($index)">
                <span>{{ item.title }}</span>
                <input ng-model="item.quantity">
                <span>{{ item.price | currency }}</span>
                <span>{{ item.price * item.quantity | currency }}</span>
                <button ng-click="remove($index)">삭제</button>
            </li>
        </ul>
    </div>
    <form ng-controller="SomeController" ng-submit="requestFunding()">
        <input type="text" ng-model="funding.startingEstimate"/>
        권장 자본금 = {{ needs }}

        <button type="submit">submit</button>
    </form>

    <div ng-controller="ShowHideController">
        <button ng-click="toggleList()">toggle button</button>
        <ul ng-show="isShowList">
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>

    <div ng-controller="HeaderController">
        <div ng-class="{error : isError, warning : isWarning}">
            {{ messageText }}
        </div>
        <button ng-click="showError()">에러 시연하기</button>
        <button ng-click="showWarning()">경고 시연하기</button>
    </div>

</body>
</html>